In [1]:
#Task 1:
#1.
#Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
#the given sequence is defined as follows:
#The moving average sequence has n-k+1 elements as shown below.
#The moving averages with k=4 of a ten-value sequence (n=10) is shown below
#i 1 2 3 4 5 6 7 8 9 10
#===== == == == == == == == == == ==
#Input 10 20 30 40 50 60 70 80 90 100
#y1 25 = (10+20+30+40)/4
#y2 35 = (20+30+40+50)/4
#y3 45 = (30+40+50+60)/4
#y4 55 = (40+50+60+70)/4
#y5 65 = (50+60+70+80)/4
#y6 75 = (60+70+80+90)/4
#y7 85 = (70+80+90+100)/4
#Thus, the moving average sequence has n-k+1=10-4+1=7 values.

#Problem Statement:
#Write a function to find moving average in an array over a window:
#Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [16]:
# Initialize variables
lst1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
lst2 = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k1 = 4
k2 = 3
# Function to get the moving average
def calc_mov_avg(lst= [], k = int()):
    avgsq = len(lst)-k+1
    # loop to calculate average values
    for j in range(avgsq):
        z = int()
        for i in range(j, k+j):
            z = z+lst[i]
        print((z/k))
    print("Thus, the moving average sequence has n-k+1=",avgsq,"values")

# Test above function for lst2, k2
calc_mov_avg(lst2, k2)

5.0
4.666666666666667
5.666666666666667
6.666666666666667
9.666666666666666
28.666666666666668
49.333333333333336
72.66666666666667
84.0
93.33333333333333
116.33333333333333
Thus, the moving average sequence has n-k+1= 11 values

In [3]:
#Task 2:
#1.
#How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series,
#whichever is closer)
#create a new column 'Y'
#Consider a DataFrame df where there is an integer column 'X'
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
# Import required Libraries
import pandas as pd
# Program to count-distance-to-the-previous-zero 
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = pd.Series(df['X'])
y = (x.groupby(x.eq(0).cumsum().mask(x.eq(0))).cumcount() + 1).mask(x.eq(0), 0).tolist()
df['Y'] = y
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [5]:
#2.
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
#random numbers.

In [6]:
# Import Libraries
import numpy as np
# Program to get datetime index for 2015
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.690271
2015-01-02    0.011387
2015-01-05    0.374199
2015-01-06    0.295235
2015-01-07    0.098461
2015-01-08    0.155972
2015-01-09    0.777939
2015-01-12    0.017768
2015-01-13    0.684959
2015-01-14    0.774481
2015-01-15    0.780296
2015-01-16    0.485311
2015-01-19    0.710906
2015-01-20    0.737337
2015-01-21    0.532709
2015-01-22    0.871432
2015-01-23    0.476156
2015-01-26    0.044094
2015-01-27    0.118247
2015-01-28    0.812489
2015-01-29    0.773020
2015-01-30    0.943196
2015-02-02    0.357374
2015-02-03    0.704069
2015-02-04    0.058333
2015-02-05    0.634193
2015-02-06    0.863823
2015-02-09    0.022108
2015-02-10    0.081764
2015-02-11    0.582985
                ...
2015-11-20    0.563338
2015-11-23    0.179456
2015-11-24    0.973460
2015-11-25    0.684351
2015-11-26    0.819352
2015-11-27    0.707674
2015-11-30    0.950504
2015-12-01    0.124376
2015-12-02    0.183813
2015-12-03    0.222481
2015-12-04    0.183701
2015-12-07    0.216031
2015-12-08    0.764002
2015-12-09    0.700948
2015-12-10    0.449750
2015-12-11    0.489736
2015-12-14    0.037313
2015-12-15    0.008142
2015-12-16    0.688377
2015-12-17    0.877276
2015-12-18    0.606697
2015-12-21    0.009904
2015-12-22    0.511218
2015-12-23    0.510727
2015-12-24    0.649619
2015-12-25    0.836526
2015-12-28    0.723877
2015-12-29    0.085761
2015-12-30    0.810385
2015-12-31    0.095305
Freq: B, Length: 261, dtype: float64

In [7]:
#3.
#Find the sum of the values in s for every Wednesday

In [8]:
# Program to get sum of the values for every wednesday
s[dti.weekday == 2].sum()

27.32856890100458

In [9]:
#4.
#Average For each calendar month

In [10]:
# Program to calculate average For each calendar month
s.resample('M', how='mean')

C:\Users\126702\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.507539
2015-02-28    0.419099
2015-03-31    0.607141
2015-04-30    0.469528
2015-05-31    0.495792
2015-06-30    0.547278
2015-07-31    0.494096
2015-08-31    0.400714
2015-09-30    0.571982
2015-10-31    0.466981
2015-11-30    0.609068
2015-12-31    0.425477
Freq: M, dtype: float64

In [11]:
#5.
#For each group of four consecutive calendar months in s, find the date on which the highest
#value occurred.

In [15]:
# Program to get higest values date for each quarter
s.groupby(pd.TimeGrouper('4M')).max()

C:\Users\126702\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31    0.943196
2015-05-31    0.996476
2015-09-30    0.996900
2016-01-31    0.999429
dtype: float64